<nav class="navbar navbar-light bg-light">
  <form class="form-inline" [formGroup]="formGroup">
    <div>
      <input formControlName="searchCourse" name="searchTeacherNo" class="form-control mr-sm-2" type="search"
             placeholder="请输入课程名称" aria-label="Search">
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSearch()">搜索</button>
  </form>
</nav>

<table class="table table-striped mt-4">
  <thead>
  <tr class="table-primary">
    <th>序号</th>
    <th>课名</th>
    <th>节次</th>
    <th>星期</th>
    <th>周</th>
    <th>状态</th>
    <th>创建者</th>
    <th>操    作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of courses; index as i">
    <td>{{ i + 1 }}</td>
    <td>{{ course.name}}</td>
    <td>{{ getRange(course.courseInfo.begin, course.courseInfo.length) }}</td>
    <td>{{ getWeekday(course.courseInfo.day) }}</td>
    <td>{{ course.courseInfo.weeks | weekRangeFormat: course.courseInfo.weekType}} {{course.courseInfo.weekType | weekTypeFormat}}</td>
    <td *ngIf="course.term.id == termId; else courseOver">
      <span class="badge badge-pill badge-success">置入</span>
    </td>
    <td>{{ course.creator.name }}</td>
    <td>
      <!-- 如果结课了，就不允许编辑课程 -->
      <a  *ngIf="course.term.id == termId" class="btn btn-outline-primary btn-sm">
        <i class="fa fa-pen"></i>编辑
      </a>
      <span *ngIf="course.term.id == termId && course.creator.id == currentStudentId" class="btn btn-outline-danger btn-sm">
          <i class="far fa-trash-alt"></i>删除
      </span>
      <span *ngIf="course.term.id == termId && course.creator.id !== currentStudentId && !isCourseReused(course.courseInfo.id)" class="btn btn-sm btn-outline-info" (click)="reuseCourse(course.courseInfo.id)">
         <i class="fa fa-plus" aria-hidden="true"></i>复用课程
      </span>
      <span *ngIf="course.term.id == termId && isCourseReused(course.courseInfo.id)" class="btn btn-sm btn-outline-secondary" (click)="cancelReuse(course.courseInfo.id)">
          <i class="fa fa-times" aria-hidden="true"></i>取消复用
  </span>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #courseOver>
  <td>
    <span class="badge badge-pill badge-secondary">结课</span>
  </td>
</ng-template>
